{"openapi":"3.0.1","info":{"title":"Dosa Backend API","description":"3D Model Assembly API","version":"v1"},"servers":[{"url":"http://ec2-13-125-67-192.ap-northeast-2.compute.amazonaws.com:8080","description":"Generated server url"}],"tags":[{"name":"Model 정보 제공","description":"Model 정보를 제공해주는 API입니다."},{"name":"Quiz/Answer 데이터 제공","description":"사용자에게 Quiz를 주고 채점 후 정답/해설을 보여주는 API 입니다."}],"paths":{"/api/models/{modelId}/quiz/answer":{"post":{"tags":["Quiz/Answer 데이터 제공"],"operationId":"submitQuiz","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuizSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuizResultResponse"}}}}}}},"/api/models":{"get":{"tags":["Model 정보 제공"],"operationId":"getModelIds","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ModelSliceDto"}}}}}}},"/api/models/{modelId}/quiz/":{"get":{"tags":["Quiz/Answer 데이터 제공"],"operationId":"getRandomQuizzes","parameters":[{"name":"modelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":3}},{"name":"excludedIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuizResponse"}}}}}}}},"/api/api/models/{id}/viewer":{"get":{"tags":["Model 정보 제공"],"summary":"Model 정보(part, node) 제공","description":"Model에 관한 모든 정보를 제공합니다.","operationId":"getModelInformation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ModelResponseDto"}}}}}}}},"components":{"schemas":{"AnswerItem":{"type":"object","properties":{"questionId":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["MULTIPLE_CHOICE","SHORT_ANSWER"]},"selectedOptionNo":{"type":"integer","format":"int32"},"subjectiveAnswer":{"type":"string"}}},"QuizSubmitRequest":{"type":"object","properties":{"answers":{"type":"array","items":{"$ref":"#/components/schemas/AnswerItem"}}}},"QuestionResult":{"type":"object","properties":{"questionId":{"type":"integer","format":"int64"},"userSelected":{"type":"object"},"correctAnswer":{"type":"string"},"explanation":{"type":"string"},"correct":{"type":"boolean"}}},"QuizResultResponse":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/QuestionResult"}}}},"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"ModelSliceDto":{"type":"object","properties":{"models":{"type":"array","items":{"$ref":"#/components/schemas/ModelSummaryDto"}},"hasNext":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"}}},"ModelSummaryDto":{"type":"object","properties":{"modelId":{"type":"string"},"overview":{"type":"string"}}},"OptionDto":{"type":"object","properties":{"no":{"type":"integer","format":"int32"},"content":{"type":"string"}}},"QuizResponse":{"type":"object","properties":{"questionId":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["MULTIPLE_CHOICE","SHORT_ANSWER"]},"question":{"type":"string"},"options":{"type":"array","items":{"$ref":"#/components/schemas/OptionDto"}}}},"CoordinatesDto":{"type":"object","properties":{"pos":{"type":"array","items":{"type":"number","format":"double"}},"quat":{"type":"array","items":{"type":"number","format":"double"}},"scale":{"type":"array","items":{"type":"number","format":"double"}}}},"ExplodeDto":{"type":"object","properties":{"dir":{"type":"array","items":{"type":"number","format":"double"}},"distance":{"type":"number","format":"double"},"start":{"type":"number","format":"double"},"duration":{"type":"number","format":"double"}}},"ModelInfoDto":{"type":"object","properties":{"modelId":{"type":"string"},"title":{"type":"string"},"thumbnailUrl":{"type":"string"},"overview":{"type":"string"},"theory":{"type":"string"}}},"ModelResponseDto":{"type":"object","properties":{"model":{"$ref":"#/components/schemas/ModelInfoDto"},"parts":{"type":"array","items":{"$ref":"#/components/schemas/PartInfoDto"}},"nodes":{"type":"array","items":{"$ref":"#/components/schemas/NodeInfoDto"}}}},"NodeInfoDto":{"type":"object","properties":{"nodeId":{"type":"string"},"partId":{"type":"string"},"parentNodeId":{"type":"string"},"assembled":{"$ref":"#/components/schemas/CoordinatesDto"},"explode":{"$ref":"#/components/schemas/ExplodeDto"}}},"PartInfoDto":{"type":"object","properties":{"partId":{"type":"string"},"displayNameKo":{"type":"string"},"glbUrl":{"type":"string"},"summary":{"type":"string"},"materialType":{"type":"string"}}}}}}